

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #acaa2dff, #be5d21ff, #cb98a1ff);

  
  
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.react-flow,
.react-flow__renderer {
  
}

